[submodule "3rd/ZLToolKit"]
	path = 3rd/ZLToolKit
	url = https://github.com/ZLMediaKit/ZLToolKit.git
[submodule "3rd/libtuntap"]
	path = 3rd/libtuntap
	url = https://github.com/LaKabane/libtuntap.git
